*{
    margin:0;
    padding:0;
}
body{
    font-family: "Avenir Next";
    overflow: hidden;
}
.password{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.24rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
}
.passwordWrap{
    height:0.6rem;
    background: #fff;
    font-size: 0.24rem;
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;
    margin-top: 0.5rem;
}
.passwordWrap span{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width:15%;
    padding-left: 0.5rem;
}
.passwordWrap input{
    display: inline-block;
    width:75%;
    height:0.6rem;
    outline: none;
    border: none;
}
.confirm{
    display:block;
    width:80%;
    margin: 0.5rem auto 0;
    height:0.8rem;
}
/*遮罩层*/
.maskLayerWrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, .7);
}

.maskLayer {
    font-size: 0.24rem;
    height: 2.1rem;
    position: absolute;
    text-align: center;
    display: none;
    width: 5rem;
    background: #fff;
}

.maskLayer div {
    height: 0.7rem;
}

.imOk {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ccc;
    color: #fff;
}

.sorry, .imOk {
    line-height: 0.6rem;
}












