* {
    margin: 0;
    padding: 0;
    font-family: Avenir Next;
}
a{
    text-decoration:none;
}
body {
    background: #f9f9f9;
}

nav {
    height: 0.9rem;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.9rem;
    position: relative;
    background: white;
}

nav img {
    display: block;
    width: 0.27rem;
    height: 0.86rem;
    position: absolute;
    left: 0.3rem;
    top: 0.02rem;
}

.popular {
    height: 2.05rem;
    margin-top: 0.12rem;
    background: white;
}

.popular p:nth-of-type(1) {
    text-align: center;
    font-size: 0.4rem;
    height: 0.9rem;
    line-height: 0.9rem;
}

.popular p:nth-of-type(2) {
    height: 1.25rem;
}

.popular span {
    display: block;
    font-size: 0.3rem;
    padding-top: 0.1rem;
    text-align: center;
}


.beautyCloth {
    height: 7.8rem;
    background-color: white;
}

.greenLine {
    width: 7.5rem;
    height: 7.8rem;
    margin: 0 auto;
    overflow: hidden;
}
.greenLine img {
    width: 100%;
}