* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Avenir Next";
}

img {
    display: block;
}

ul, li {
    list-style: none;
}

body {
    background-color: #efeff4;
}

nav {
    width: 100%;
    height: 0.72rem;
    border-bottom: 1px solid #d3d3d3;
    background-color: #FFFFFF;
}

nav span {
    line-height: 0.72rem;
    display: block;
    float: left;
    text-align: center;
}

nav span:nth-of-type(1) {
    width: 9%;
    font-size: 0.5rem;
    font-weight: bolder;
}

nav span:nth-of-type(2) {
    width: 82%;
    font-size: 0.34rem;
}

.clearTest {
    display: block;
    width: 100%;
    height: 0.7rem;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.7rem;
}

.goBack img {
    width: 0.23rem;
    height: 0.4rem;
    margin: 0.16rem auto 0;
}

.hasShop_show {
    width: 100%;
    margin-top: 1.62rem;
    padding: 0.2rem 0 0.2rem 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    overflow: hidden;
}

ul, li {
    list-style: none;
}

li {
    width: 96%;
    float: right;
    border-bottom: 1px solid #ccc;
    padding: 0.1rem 0 0.1rem 0;
}

.container > li:last-child {
    border: none;
}

.cloth_show {
    width: 25%;
}

.cloth_show img {
    float: left;
    width: 1.7rem;
    height: 1.7rem;
}

.cloth_introduce {
    width: 75%;
    box-sizing: border-box;
    float: left;
    font-size: 0.24rem;
    padding-left: 0.2rem;
}

.cloth_introduce div {
    height: 0.4rem;
    line-height: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user_info {
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-top: 0.2rem;
}

.brand {
    font-size: 0.26rem;
    font-weight: bolder;
    color: #1d1d1d;
}

.user_info li, .trans_way div {
    width: 96%;
    float: right;
    line-height: 0.5rem;
    font-size: 0.24rem;
    border: none;
}

.user_info li:nth-of-type(1) {
    font-size: 0.28rem;
    font-weight: bolder;
    color: #1d1d1d;
}

.trans_way {
    width: 100%;
    height: 0.68rem;
    background-color: #FFFFFF;
    margin-top: 0.2rem;
    font-size: 0.28rem;
}

.trans_way > div {
    display: block;
    font-weight: bolder;
    line-height: 0.68rem;
}

.product_detail {
    width: 100%;
    background-color: white;
    overflow: hidden;
    margin-top: 0.2rem;
}
.product_detail li {
    width: 96%;
    float: right;
    height: 0.5rem;
    line-height: 0.5rem;
    font-weight: 500;
    color: #1d1d1d;
    font-size: 0.24rem;
}
.product_detail li:last-child{
    border: none;
}
.product_detail li span {
    float: right;
    padding-right: 0.2rem;
}

.total_price {
    background-color: #FFFFFF;
    width: 100%;
    height: 0.67rem;
    border-top: 1px solid #d3d3d3;
}

.total_price > div {
    width: 96%;
    float: right;
    font-size: 0.26rem;
    line-height: 0.67rem;
}

.total_price > div span:nth-of-type(1) {
    font-weight: bolder;
}

.total_price > div span:nth-of-type(2) {
    float: right;
    padding-right: 0.2rem;
}

.pay_way {
    margin-top: 0.2rem;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    font-size: 0.28rem;
    background-color: #FFFFFF;
}

.pay_way li {
    width: 96%;
    border-bottom: 1px solid #d3d3d3;
    float: right;
    height: 0.7rem;
    line-height: 0.7rem;
}

.pay_way li:nth-of-type(3) {
    border: none;
}

.conform_info {
    margin-top: 0.2rem;
    height: 1rem;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.conform_info button {
    display: block;
    margin: 0.16rem auto;
    border: none;
    outline: none;
    width: 93.75%;
    height: 0.68rem;
    background-color: #000;
    color:#fff;
    font-size: 0.3rem;
}
.pointWrap{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:0.7rem;
    font-size: 0.22rem;
    padding-left: 4%;
    background: #fff;
    margin-top: 0.2rem;
    position: relative;
    display: none;
}
.pointWrap span{
    display: block;
    float: left;
    height:0.7rem;
    line-height: 0.7rem;
}
.circle{
    width:0.25rem;
    height:0.25rem!important;
    border-radius: 100%;
    background:url(../../img/chose@2x.png) no-repeat center top;
    background-size:100% 100%;
    position: absolute;
    right:0.2rem;
    top:0.22rem;
}

.pay_way li span{
    display: block;
    float:left;
}
.pay_way li span:nth-of-type(1){
    width:0.48rem;
    height:0.48rem;
    margin-top: 0.11rem;
    background: url(../../img/alipay@2x.png) center top;
    background-size: 0.48rem 0.48rem;
}
.applyWay{
    padding-left: 0.2rem;
}
.pay_way li:nth-of-type(2){
    position: relative;
}

.circle2{
    margin-top: 0.1rem;
}
.isApply{
    background: url(../../img/select@2x.png) center top;
    background-size: 100% 100%;
}
.markLayer{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,.3);
    display:none;
}
.waitMoment{
    width:3rem;
    height:0.8rem;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    top:50%;
    margin-top: -0.5rem;
    left:50%;
    margin-left:-1.5rem ;
}
.waitMoment div{
    width:60%;
    float: left;
    font-size: 0.2rem;
    line-height: 0.8rem;
}
.imgWrap{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:40%!important;
    height:0.8rem;
}
.imgWrap img{
    width:0.5rem;
    height:0.5rem;
    margin-top: 0.15rem;
    margin-left: 0.3rem;
}
.stopScroll{
    overflow: hidden;
}














