* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Avenir Next";
}

ul, li {
    list-style: none;
}

body {
    background-color: rgba(239, 239, 244, 1);
}

nav {
    width: 100%;
    height: 0.72rem;
    border-bottom: 1px solid #d3d3d3;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav span {
    line-height: 0.72rem;
    display: block;
    float: left;
    text-align: center;
}

nav span:nth-of-type(1) {
    width: 9%;
    font-size: 0.5rem;
    font-weight: bolder;
}

nav span:nth-of-type(2) {
    width: 82%;
    font-size: 0.34rem;
}

.hasShop {
    text-align: center;
    font-size: 0.26rem;
    line-height: 1rem;
    background: #FFFFFF;
    position: relative;
}

.goBack img {
    display: block;
    width: 0.23rem;
    height: 0.4rem;
    margin: 0.16rem auto 0;
}

ul, li {
    list-style: none;
}

.orderForm li {
    background: #fff;
    width: 25%;
    text-align: center;
    line-height: 0.5rem;
    float: left;
}

.orderForm li span {
    display: block;
    font-size: 0.2rem;
    height: 0.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.orderForm {
    position: relative;
    width: 100%;
    margin-top: 0.72rem;
}

.package {
    position: absolute;
    top: 0.5rem;
    left: 0;
    background: #fff;
    font-size: 0.28rem;
    display: none;
}

.packageShow {
    display: block;
}

.littleForm, .littleForm2, .littleForm3, .littleForm4 {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.littleForm li:last-child {
    border: none;
    margin-bottom: 0.2rem;
}

.littleForm2 li:last-child {
    border: none;
    margin-bottom: 0.2rem;
}

.littleForm3 li:last-child {
    border: none;
    margin-bottom: 0.2rem;
}

.littleForm4 li:last-child {
    border: none;
    margin-bottom: 0.2rem;
}

.littleForm li:nth-of-type(1) {
    margin-top: 0.2rem;
}

.littleForm2 li:nth-of-type(1) {
    margin-top: 0.2rem;
}

.littleForm3 li:nth-of-type(1) {
    margin-top: 0.2rem;
}

.littleForm4 li:nth-of-type(1) {
    margin-top: 0.2rem;
}

.littleForm li, .littleForm2 li, .littleForm3 li, .littleForm4 li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 1rem;
    width: 90%;
    float: right;
    border-bottom: 1px solid #ccc;
}

.orderNumber, .handleNumber {
    float: left;
    width: 50%;
}

.handleNumber {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20%;
    line-height: 1rem;
    background: url(../../img/arrows2.png) no-repeat 92% 50%;
    background-size: 0.14rem 0.24rem;
}

.orderNumber > div {
    font-size: 0.2rem;
    text-align: left;
}

.orderPrice span {
    width: 50%;
    float: left;
    display: block;
}

.orderPrice {
    color: #ccc;
}

.border {
    position: absolute;
    left: 50%;
    top: 0.2rem;
    height: 0.2rem;
    border-bottom: 1px solid #ccc;
    width: 60%;
    margin: 0 0 0 -30%;
    display: none;
}

.hasComplete1,.hasComplete2,.hasComplete3,.hasComplete4 {
    width: 100%;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 0.28rem;
    position: absolute;
    top:1rem;
    right:0;
    color:rgba(170,170,170,1);
    display: none;
}











